 <nav id="mainMenu" class="clearfix">
                            <ul>
                                <li><a href="index-2.html" class="firstLevel active" >Home</a>                  
                                </li>
                                <li>
                                <li><a href="#" class="firstLevel">Colors</a>
                                    
                                </li>


                                <li><a href="template-features.html" class="firstLevel">Features</a></li>


                                <li><a href="template-columns.html" class="firstLevel">Templates</a>
                                    
                                </li>
                                <li><a href="portfolio-vertical.html" class="firstLevel">Portfolio</a>
                                    
                                </li>
                                <li><a href="blog-home.html" class="firstLevel">Blog</a>
                                    
                                </li>
                                <li>
                                	
                                	<% if !user_signed_in?%>
                                	<%= link_to "Sign In", new_user_session_path%>
                                	<%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	                   				<% else%>
                                    <%=link_to("Logout", destroy_user_session_path, :method => :delete) %>
                                    <% end %>
                                    
                                </li>
                               
                                    
                                
                            </ul>
                        </nav>
