<section class="sliceTop"> 

                    <div class="container">

                        <div class="row">
                            <div class="span12 drop-shadow lifted">
								<div class="topQuote">
									<div style="float: left">
									<h1>
									<strong>Edit Pricing</strong>															
									</h1></div>	
                               
                                </div>
                                <div class="topBox clearfix">
                                    <div class="bigIconsColumnsWrapper">
										<article style="margin-left: auto;margin-right: auto;position: relative; padding-left: 30% !important;padding-right: 30% !important">
										<%= form_for @pricing, :url => {:action => "update"},   :html => {:class=> "form-horizontal"}  do |f|%>
											<fieldset>
  												<legend>Edit Pricing </legend>
											<%= render :partial => "form", :locals => {:f => f} %>
										</fieldset>
										<% end %>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 